{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
        <img style="height: 100px; width: 100px; border-radius: 50px;" src="https://ibb.co/fqR9tc1" alt="logo"/>
            <a href="/" style="text-decoration: none; color: #ccffff;">
                <h1 style="margin: 15px !important; color: #ccffff;">Zain Ul Abideen</h1>
            </a>
        </div>
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </nav>
    {%else%}
    <div class="empty-navbar" >
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}
