{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
        <a href="/"><img style="height: 60px; width: 60px; border-radius: 30px; margin-top: 5px;" src="https://i.postimg.cc/JsYDXf5K/Zain-logo.png" alt="logo"/></a>
            <a href="/" style="text-decoration: none; color: #ccffff;">
                <h1 style="margin: 15px !important; color: #ccffff;">Zain Ul Abideen</h1>
            </a>
        </div>
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </nav>
    {%else%}
    <div class="empty-navbar" >
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}
