document.addEventListener('DOMContentLoaded', function() {
    const tocTitle = document.querySelector('.toc-title-container');
    const tocContainer = document.querySelector('.toc-container');
    
    if (tocTitle && tocContainer) {
        tocTitle.addEventListener('click', function() {
            tocContainer.style.display = tocContainer.style.display === 'none' ? 'block' : 'none';
        });
    }
});
