@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background-primary: rgb(32, 31, 31);
    --background-secondary: rgb(57, 56, 56);
    --text-normal: #dcddde;
    --text-accent: rgb(97, 186, 245);
    --file-margins: 32px;
    --h1-color: #0099cc;

    --callout-border-width: 0px;
    --callout-border-opacity: 0.25;
    --callout-padding: 12px 12px 12px 24px;
    --callout-radius: 4px;
    --callout-blend-mode: lighten;
    --callout-title-padding: 0;
    --callout-title-size: inherit;
    --callout-content-padding: 0;
    --outline-color: #61BAF5;
    --border-width: 10px;
}

body {
    background-color: #0d1117 !important; 
    font-family: 'Roboto', sans-serif !important;
}

h1 {
    font-size: 24px !important;
    font-family: Roboto, sans-serif !important;
    color: var(--h1-color) !important;
    margin-bottom: 10px !important;
}

h2 {
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

canvas, .graph-title, .graph-title-container, .force-graph-container, .backlinks, .toc {
    background-color: #0D1117 !important;
    border-width: var(--border-width) !important;
    border-color: var(--outline-color) !important;
}

.content {
    font-size: 14px !important;
    color: var(--text-normal) !important; /* Adjusted text color for better readability */
}

.navbar {
    background-color: #010409 !important;
    position: absolute !important;
    width: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding-left: var(--file-margins) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1400px) {
    .navbar {
        position: fixed;
    }
}

ol li::marker {
    color: #00bfff !important; /* Adjusted marker color */
}

ol li a, a {
    color: #00ffff !important; /* Adjusted link color */
}

p {
    color: #cccccc !important; /* Adjusted paragraph text color */
}
/* img not scaling properly on mobile */
svg {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

// .backlink-icon {
//     font-size: 12px; /* Adjust the size as needed */
//     width: 10px; /* Adjust the width as needed */
//     height: 10px; /* Adjust the height as needed */
// }

.backlink-card svg.lucide-link {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px; /* Adds some space between the icon and text */
}
/* Styles for both mobile and desktop */
.toc {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border: 1px solid #61BAF5; /* Reduced border width */
    background-color: #0d1117;
}

.toc-title-container {
    background-color: #0d1117;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #61BAF5;
}

.toc-container {
    display: none; /* Hidden by default */
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Show TOC when active */
.toc.active .toc-container {
    display: block;
}

/* Scrollbar styles */
.toc-container::-webkit-scrollbar {
    width: 6px;
    height: 0;
}

.toc-container::-webkit-scrollbar-thumb {
    background-color: #61BAF5;
    border-radius: 3px;
}

.toc-container {
    scrollbar-width: thin;
    scrollbar-color: #61BAF5 transparent;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    .toc {
        max-width: 100%; /* Full width on mobile */
    }
}

/* Media query for desktop */
@media screen and (min-width: 769px) {
    .toc {
        /* Any specific desktop styles if needed */
    }
}
